@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Ponnins", sans-serif;
}

body {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

body h1 {
  font-family: "Press Start 2P", sans-serif;
  color: white;
  margin: 60px;
  font-size: 62px;
}

.grid {
  border: 1px solid black;
}

.buttons {
  margin: 60px 0;
}

.grid-val,
.random-colors,
.black-color,
.shade-colors {
  padding: 10px 20px;
  font-size: 18px;
  color: white;
  background-color: red;
  margin: 10px;
  border-radius: 8px;
  font-weight: 600;
}

.grid-val:hover,
.random-colors:hover,
.black-color:hover,
.shade-colors:hover {
  box-shadow: 0 0 10px grey;
}
